@import 'folder_with_SCSS/reset';
@import 'folder_with_SCSS/variables';

body{
    background: #e96654;
}

%box{
    height: 100%;
    width: 100px;
    background-color: $title-color;
    border-right: 1px solid #4da3bc;
    position: relative;
    overflow: hidden;
    transition-property: width;
    transition-duration: 0.5s;
    cursor: pointer;
    display: block;
}

@mixin fontz($f) {
    font-size: $f;
 }

%title {
    font-size: 42px;
    font-weight: normal;
    text-transform: capitalize;
}

.conteiner{
    background: #4da3bc;
    width: 100%;
    height: 220px;
    margin-top: 200px;
    display: flex;
    justify-content: start;

    .block {
        @extend %box;
           &__icon {
           width: 100px;
           height: 100%;
           font-size: 1.4em;
           display: flex;
           justify-content: center;
           align-items: center;
           color: $icolor;
  
           &.twitter:hover {
              background: linear-gradient(to top, #47bfe2, #69cbe6);
              @include fontz(2em);
           }

           &.facebook:hover {
            background: linear-gradient(to top, #275f9a, #477cb0);
            @include fontz(2em);
           }

           &.linkedin:hover {
            background: linear-gradient(to top, #0083ac, #019bbd);
            @include fontz(2em);
           }

           &.instagram:hover {
            background: linear-gradient(to top, #368b24, #6fb018);
            @include fontz(2em);
           }

           &.youtube:hover {
            background: linear-gradient(to top, #b71717, #d41122);
            @include fontz(2em);
           }

           &.tumbrl:hover {
            background: linear-gradient(to top, #26465f, #23354d);
            @include fontz(2em);
           }
  
           &.dribbble:hover {
              background: linear-gradient(to top, #e36394, #d73368);
              @include fontz(2em);
           }
        }
  
        &__text {
           width: 390px;
           background: $icolor;
           height: 100%;
           position: absolute;
           top: 0;
           left: 100px;
           padding: 30px 0 0 10px;
           overflow: hidden;
  
           & h1 {
              @extend %title;
           }
  
           & p {
            font-size: 12px;
           }
        }
  
        &:hover {
           width: 500px;
        }
    }
}